<h1>Login</h1>
<%= form_for :session, url: {action: :create} do |s| %>
  <%= s.text_field :email, placeholder: "E-Mail" %><br/>
  <%= s.password_field :password, placeholder: "Password" %><br/>
  <%= s.submit %>
<% end %>